.main-div {
    width: 100%;
    max-width: 66.66667%; /* Equivalent to w-2/3 for sm and md breakpoints */
    height: 18rem; /* Equivalent to h-72 */
    background-color: transparent;
    overflow: hidden;
    position: relative;
}

.inner-div {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    display: flex;
    align-items: center;
}

.white {
    background-color: white;
    transform: translateX(0%);
}

.black {
    /* background-color: black; */
    transform: translateX(100%);
}

.main-div:hover .white {
    transform: translateX(-100%);
}

.main-div:hover .black {
    transform: translateX(0%);
}

.example::-webkit-scrollbar {
    display: none;
}

.example {
    -ms-overflow-style: none;
    scrollbar-width: none;
}